body{
  margin: 0;
  padding: 0;
  font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
  font-size: 15px;
  color: #1a1a1a;
  background: #f6f6f6;
  -webkit-tap-highlight-color: rgba(26,26,26,0);
}
a {
  text-decoration:none;
  color: #000;
}
header{
  height: 48px;
  background: #484848;
  color: #fff;
  line-height: 48px;
}
header .content{
  width: 980px;
  margin: 0 auto;
}
header .title {
  float: left;
  font-weight: 600;
}
header .search {
  float: left;
  margin-left: 10px;
}
header .search .sub{
  border: 0;
  padding: 3px 20px;
  border-radius: 3px;
  background: #28d0e9;
  color:#fff;
  height: 32px;
}
header #search{
  width: 233px;
  height: 27px;
  font-size: 16px;
}
header .release {
  float: right;
  margin-right: 10px;
}
header .login {
  float: right;
}
header .login span{
  padding-left: 3px
}
footer{
  height: 48px;
  background: #484848;
  color: #fff;
  line-height: 48px;
  clear: both;
  position: fixed;
  width: 100%;
  bottom: 0;
}
footer .content{
  width: 980px;
  margin: 0 auto
}
main{
  width: 980px;
  margin: 0 auto;
}
main .left{
  width: 690px;
  float: left;
  margin: 10px;
  margin-left: 0;
  background: #fff;
  overflow: hidden;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 3px rgba(26,26,26,.1);
  box-shadow: 0 1px 3px rgba(26,26,26,.1);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 99px;
}
main .left .content{
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 10px;
  margin-bottom: 6px;
}
main .left .content .title {
    line-height: 33px;
}
main .left .content .title .text{
  float: left;
  font-size: 20px;
}
main .left .content .title .downCount{
  float: right;
  color: #8a8a8a;
}
main .left .content .label{
  clear: both;
  color: #8a8a8a;
}
main .left .content .label i{
  font-style: initial;
  margin-left: 3px;
}
main .left .content .label .author{
  padding-right: 10px;
}
main .left .content .label .praise{
  padding-right: 10px;
}
main .left .content .label .evaluate{
  padding-right: 10px;
}
main .left .content .label .upTime{
  float: right;
}
main .right{
  width: 280px;
  background: #fff;
  overflow: hidden;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 3px rgba(26,26,26,.1);
  box-shadow: 0 1px 3px rgba(26,26,26,.1);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 18px;
  float: left;
  margin-top: 10px;
}
main .right  .title{
  border-bottom: 2px solid #dad9d9;
  line-height: 30px;
  font-weight: 600;
}
main .right .list {
    line-height: 39px;
    border-bottom: 1px solid #e8e8e8;
}
main .right .list .downCount{
  color: #a9a9a9;
  float: right;
}
.describe{
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 10px;
  margin-bottom: 6px;
}
.download {
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 5px;
  line-height: 39px;
}
.download .sub{
  padding: 6px 27px;
  background: #28d0e9;
  color: #fff;
  font-size: 13px;
  border-radius: 3px;
}
.download .gratuity{
  padding: 2px 7px;
  background: #0f9806;
  margin-left: 13px;
  border-radius: 6px;
  color: #fff;
  font-size: 13px;
}
.download .praise{
  padding: 2px 7px;
  background: red;
  margin-left: 13px;
  border-radius: 6px;
  color: #fff;
  font-size: 13px;
}
.share{
  text-align: right;
  float: right;
}
.evaluate{
  margin-top: 39px;
  margin-bottom: 30px;
}
.evaluate .title{
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 3px;
  margin-bottom: 6px;
}
.evaluate .list{
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 7px;
  margin-bottom: 6px;
}
.evaluate .author{
  font-size: 12px;
  margin-bottom: 7px;
  color: #848484;
}
.evaluate .attitude{
  text-align: right;
}
main .user_right{
  width: 690px;
  float: left;
  margin: 10px;
  margin-right: 0;
  background: #fff;
  overflow: hidden;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 3px rgba(26,26,26,.1);
  box-shadow: 0 1px 3px rgba(26,26,26,.1);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 99px;
}
main .user_left{
  width: 280px;
  background: #fff;
  overflow: hidden;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 3px rgba(26,26,26,.1);
  box-shadow: 0 1px 3px rgba(26,26,26,.1);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 18px;
  float: left;
  margin-top: 10px;
}
main .user_left .list {
    line-height: 39px;
    border-bottom: 1px solid #e8e8e8;
}
div.m-layer {
    position: fixed;
    z-index: 9998;
    width: 530px;
    border-radius: 4px;
    box-shadow: 0 5px 16px rgba(0,0,0,0.8);
    border: none;
    top: 73px;
    left: 50%;
    margin-left: -265px;
    display: none;
}
div.m-layer .zbar {
    position: relative;
    z-index: 10;
    border-bottom: 1px solid #191919;
    border-radius: 4px 4px 0 0;
    background: #2d2d2d;
}
div.m-layer .zttl {
    padding-right: 45px;
    margin: 0;
    height: 38px;
    line-height: 38px;
    padding-left: 18px;
    border-radius: 3px 3px 0 0;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    background-position: 50% 0;
    _background-image: none;
}
div.m-layer div.zcnt {
    padding: 0;
    border: 1px solid #878787;
    border-width: 0 1px 1px;
    border-radius: 0 0 4px 4px;
    background: #fff;
}
div.m-layer .zcls {
    position: absolute;
    z-index: 20;
    top: 16px;
    right: 20px;
    width: 10px;
    height: 10px;
    overflow: hidden;
    text-indent: -9999px;
    cursor: pointer;
    background-position: 0 -95px;
}
.zcls {
    background: url(../image/layer.png) no-repeat 0 9999px;
    _background-image: url(../image/layer_8.png);
}
div.m-layer .lyct {
    padding: 40px 0;
}
.m-fdback {
    padding: 0 40px;
}
div.m-layer .lybtn {
    margin-top: 30px;
}
div.m-layer .tip{
  color: #000;
  line-height: 22px;
}
.m-fdback .u-txtwrap {
    margin-top: 5px;
}
.u-txtwrap {
    padding-right: 14px;
}
.f-pr {
    position: relative;
    zoom: 1;
}
.m-fdback {
    padding: 0 40px;
}
.m-fdback .u-txtwrap {
    margin-top: 5px;
}

div.holder-parent {
    position: relative;
    zoom: 1;
}
.u-txtwrap {
    padding-right: 14px;
}
.f-pr {
    position: relative;
    zoom: 1;
}
.m-fdback .area {
    height: 100px;
}
textarea.u-txt, div.u-txt {
    width: 100%;
    margin-right: -20px;
}
.u-txt {
    height: 19px;
    margin: 0;
    padding: 5px 6px 6px;
    border: 1px solid #cdcdcd;
    border-radius: 2px;
    line-height: 19px;
}
textarea {
    resize: none;
    overflow: auto;
}
.u-txtwrap .zs {
    position: absolute;
    bottom: 8px;
    right: 10px;
    _right: 20px;
}

.s-fc2, a.s-fc2:hover {
    color: #D0D0D0;
}
.m-fdback .contact {
    height: 60px;
}

textarea.u-txt, div.u-txt {
    width: 100%;
    margin-right: -20px;
}
.u-txt {
    height: 19px;
    margin: 0;
    padding: 5px 6px 6px;
    border: 1px solid #cdcdcd;
    border-radius: 2px;
    line-height: 19px;
}
textarea {
    resize: none;
    overflow: auto;
}
.u-err {
    height: 17px;
    margin-top: 5px;
    line-height: 17px;
    color: #e33232;
}
div.m-layer .lybtn {
    margin-top: 30px;
}
.f-tc {
    text-align: center;
}
.btn2{
  background: #28d0e9;
  color: #fff;
  padding: 6px 17px;
}
.btnm{
  margin-left: 10px;
}
.btnh{
  margin-left: 10px;
  background: #f1f1f1;
  color: #292828;
  border: 1px solid #d2cfcf;
}
.btn2 i{
  font-style: inherit;
}
