body{
  margin: 0;
  padding: 0;
  font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
  font-size: 15px;
  color: #1a1a1a;
  background: #f6f6f6;
  -webkit-tap-highlight-color: rgba(26,26,26,0);
}
a {
  text-decoration:none;
  color: #000;
}
header{
  height: 48px;
  background: #484848;
  color: #fff;
  line-height: 48px;
}
header .content{
  width: 980px;
  margin: 0 auto;
}
header .title {
  float: left;
  font-weight: 600;
}
header .search {
  float: left;
  margin-left: 10px;
}
header .search .sub{
  border: 0;
  padding: 3px 20px;
  border-radius: 3px;
  background: #28d0e9;
  color:#fff;
  height: 32px;
}
header #search{
  width: 233px;
  height: 27px;
  font-size: 16px;
}
header .release {
  float: right;
  margin-right: 10px;
}
header .login {
  float: right;
}
header .login span{
  padding-left: 3px
}
footer{
  height: 48px;
  background: #484848;
  color: #fff;
  line-height: 48px;
  clear: both;
  position: fixed;
  width: 100%;
  bottom: 0;
}
footer .content{
  width: 980px;
  margin: 0 auto
}
main{
  width: 980px;
  margin: 0 auto;
}
main .left{
  width: 690px;
  float: left;
  margin: 10px;
  margin-left: 0;
  background: #fff;
  overflow: hidden;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 3px rgba(26,26,26,.1);
  box-shadow: 0 1px 3px rgba(26,26,26,.1);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 99px;
}
main .left .content{
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 10px;
  margin-bottom: 6px;
}
main .left .content .title {
    line-height: 33px;
}
main .left .content .title .text{
  float: left;
  font-size: 20px;
}
main .left .content .title .downCount{
  float: right;
  color: #8a8a8a;
}
main .left .content .label{
  clear: both;
  color: #8a8a8a;
}
main .left .content .label i{
  font-style: initial;
  margin-left: 3px;
}
main .left .content .label .author{
  padding-right: 10px;
}
main .left .content .label .praise{
  padding-right: 10px;
}
main .left .content .label .evaluate{
  padding-right: 10px;
}
main .left .content .label .upTime{
  float: right;
}
main .right{
  width: 280px;
  background: #fff;
  overflow: hidden;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 3px rgba(26,26,26,.1);
  box-shadow: 0 1px 3px rgba(26,26,26,.1);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 18px;
  float: left;
  margin-top: 10px;
}
main .right  .title{
  border-bottom: 2px solid #dad9d9;
  line-height: 30px;
  font-weight: 600;
}
main .right .list {
    line-height: 39px;
    border-bottom: 1px solid #e8e8e8;
}
main .right .list .downCount{
  color: #a9a9a9;
  float: right;
}
.describe{
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 10px;
  margin-bottom: 6px;
}
.download {
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 5px;
  line-height: 39px;
}
.download .sub{
  padding: 6px 27px;
  background: #28d0e9;
  color: #fff;
  font-size: 13px;
  border-radius: 3px;
}
.download .gratuity{
  padding: 2px 7px;
  background: #0f9806;
  margin-left: 13px;
  border-radius: 6px;
  color: #fff;
  font-size: 13px;
}
.download .praise{
  padding: 2px 7px;
  background: red;
  margin-left: 13px;
  border-radius: 6px;
  color: #fff;
  font-size: 13px;
}
.share{
  text-align: right;
  float: right;
}
.evaluate{
  margin-top: 39px;
  margin-bottom: 30px;
}
.evaluate .title{
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 3px;
  margin-bottom: 6px;
}
.evaluate .list{
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 7px;
  margin-bottom: 6px;
}
.evaluate .author{
  font-size: 12px;
  margin-bottom: 7px;
  color: #848484;
}
.evaluate .attitude{
  text-align: right;
}
main .user_right{
  width: 690px;
  float: left;
  margin: 10px;
  margin-right: 0;
  background: #fff;
  overflow: hidden;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 3px rgba(26,26,26,.1);
  box-shadow: 0 1px 3px rgba(26,26,26,.1);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 99px;
}
main .user_left{
  width: 280px;
  background: #fff;
  overflow: hidden;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 3px rgba(26,26,26,.1);
  box-shadow: 0 1px 3px rgba(26,26,26,.1);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 18px;
  float: left;
  margin-top: 10px;
}
main .user_left .list {
    line-height: 39px;
    border-bottom: 1px solid #e8e8e8;
}
div.m-layer {
    position: fixed;
    z-index: 9998;
    width: 530px;
    border-radius: 4px;
    box-shadow: 0 5px 16px rgba(0,0,0,0.8);
    border: none;
    top: 173px;
    left: 50%;
    margin-left: -265px;
    display: none;
}
div.m-layer .zbar {
    position: relative;
    z-index: 10;
    border-bottom: 1px solid #191919;
    border-radius: 4px 4px 0 0;
    background: #2d2d2d;
}
div.m-layer .zttl {
    padding-right: 45px;
    margin: 0;
    height: 38px;
    line-height: 38px;
    padding-left: 18px;
    border-radius: 3px 3px 0 0;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    background-position: 50% 0;
    _background-image: none;
}
div.m-layer div.zcnt {
    padding: 0;
    border: 1px solid #878787;
    border-width: 0 1px 1px;
    border-radius: 0 0 4px 4px;
    background: #fff;
}
div.m-layer .zcls {
    position: absolute;
    z-index: 20;
    top: 16px;
    right: 20px;
    width: 10px;
    height: 10px;
    overflow: hidden;
    text-indent: -9999px;
    cursor: pointer;
    background-position: 0 -95px;
}
.zcls {
    background: url(../image/layer.png) no-repeat 0 9999px;
    _background-image: url(../image/layer_8.png);
}
div.m-layer .lyct {
    padding: 40px 0;
}
.m-fdback {
    padding: 0 40px;
}
div.m-layer .lybtn {
    margin-top: 30px;
}
div.m-layer .tip{
  color: #000;
  line-height: 22px;
}
.m-fdback .u-txtwrap {
    margin-top: 5px;
}
.u-txtwrap {
    padding-right: 14px;
}
.f-pr {
    position: relative;
    zoom: 1;
}
.m-fdback {
    padding: 0 40px;
}
.m-fdback .u-txtwrap {
    margin-top: 5px;
}

div.holder-parent {
    position: relative;
    zoom: 1;
}
.u-txtwrap {
    padding-right: 14px;
}
.f-pr {
    position: relative;
    zoom: 1;
}
.m-fdback .area {
    height: 100px;
}
textarea.u-txt, div.u-txt {
    width: 100%;
    margin-right: -20px;
}
.u-txt {
    height: 19px;
    margin: 0;
    padding: 5px 6px 6px;
    border: 1px solid #cdcdcd;
    border-radius: 2px;
    line-height: 19px;
}
textarea {
    resize: none;
    overflow: auto;
}
.u-txtwrap .zs {
    position: absolute;
    bottom: 8px;
    right: 10px;
    _right: 20px;
}

.s-fc2, a.s-fc2:hover {
    color: #D0D0D0;
}
.m-fdback .contact {
    height: 60px;
}

textarea.u-txt, div.u-txt {
    width: 100%;
    margin-right: -20px;
}
.u-txt {
    height: 19px;
    margin: 0;
    padding: 5px 6px 6px;
    border: 1px solid #cdcdcd;
    border-radius: 2px;
    line-height: 19px;
}
textarea {
    resize: none;
    overflow: auto;
}
.u-err {
    height: 17px;
    margin-top: 5px;
    line-height: 17px;
    color: #e33232;
}
div.m-layer .lybtn {
    margin-top: 30px;
}
.f-tc {
    text-align: center;
}
.btn2{
  background: #28d0e9;
  color: #fff;
  padding: 6px 17px;
}
.btnm{
  margin-left: 10px;
}
.btnh{
  margin-left: 10px;
  background: #f1f1f1;
  color: #292828;
  border: 1px solid #d2cfcf;
}
.btn2 i{
  font-style: inherit;
}
/* ---------------- */
/* 登陆注册 */
.form-wrapper {
		    padding: 20px 0 0 70px;
		    width: 740px;
		}
		.content-login {
    		text-align: center;
		}
		.form-item .form-label {
		    font-size: 18px;
		    color: #333;
		    line-height: 36px;
		    float: left;
		    display: inline;
		    margin-left: -210px;
		    width: 200px;
		    height: 36px;
		    text-align: right;
		    overflow: hidden;
		}
		.form-item .form-field .form-text, .login-form-item .form-field .form-text, .vcode-form-item .form-field .form-text {
		    border-radius: 5px;
		    font-size: 14px;
		    line-height: 28px;
		    border: 1px solid #dedede;
		    padding: 3px 10px;
		    width: 255px;
		    height: 28px;
		    vertical-align: middle;
		    -webkit-transition: border linear .2s,box-shadow linear .2s;
		    -moz-transition: border linear .2s,box-shadow linear .2s;
		    -ms-transition: border linear .2s,box-shadow linear .2s;
		    -o-transition: border linear .2s,box-shadow linear .2s;
		    transition: border linear .2s,box-shadow linear .2s;
		}
		.form-item .form-field .tips-error {
		    width: 217px;
		    padding-left: 3px;
		    color: #E15738;
		}
		.form-item .form-field .form-tips {
		    margin-left: 5px;
		    font-size: 12px;
		    line-height: 20px;
		    display: inline-block;
		    vertical-align: middle;
		    text-align: justify;
		    min-height: 20px;
		    max-height: 40px;
		    overflow: hidden;
		}
		.form-item {
		    padding: 0 0 15px 50px;
		}
		.form-item .form-field .mobile-vcode-text .get-mobile-vcode {
		    margin-left: -4px;
		    text-decoration: none;
		    display: inline-block;
		    padding: 3px 26px;
		    height: 30px;
		    line-height: 30px;
		    text-align: center;
		    font-size: 14px;
		    color: #fff;
		    vertical-align: middle;
		    border-top-right-radius: 5px;
		    border-bottom-right-radius: 5px;
		    background-color: #91C135;
		}
		.form-item .form-field .mobile-vcode-text {
		    width: 277px;
		    display: inline-block;
		    vertical-align: middle;
		}
		.form-item .form-field .mobile-vcode-text .form-text {
		    width: 105px;
		    border-top-right-radius: 0;
		    border-bottom-right-radius: 0;
		}
		.form-action .register-btn {
		    width: 277px;
		}
		.btn-blue {
		    background: #4ba0d7;
		}
		.form-action {
		        margin-left: -40px;
		    text-align: center;
		}
		.btn {
		    border: 0 none;
		    border-radius: 3px;
		    color: #fff;
		    cursor: pointer;
		    display: inline-block;
		    font-size: 18px;
		    height: 40px;
		    text-align: center;
		    vertical-align: middle;
		}
		.content-login {
		    text-align: center;
		}
		/*手机号*/
		.form-item .form-field .mobile-text {
		    position: relative;
		    width: 277px;
		    display: inline-block;
		    vertical-align: middle;
		}
		#guize a {
		    color: #2965b1;
		    text-decoration: none;
		}
    /* ---------------------- */
    /* 登陆注册 */
    .form-wrapper {
    		    padding: 20px 0 0 70px;
    		    width: 740px;
    		}
    		.content-login {
        		text-align: center;
    		}
    		.form-item .form-label {
    		    font-size: 18px;
    		    color: #333;
    		    line-height: 36px;
    		    float: left;
    		    display: inline;
    		    margin-left: -210px;
    		    width: 200px;
    		    height: 36px;
    		    text-align: right;
    		    overflow: hidden;
            line-height: 45px;
    		}
    		.form-item .form-field .form-text, .login-form-item .form-field .form-text, .vcode-form-item .form-field .form-text {
    		    border-radius: 5px;
    		    font-size: 14px;
    		    line-height: 28px;
    		    border: 1px solid #dedede;
    		    padding: 3px 10px;
    		    width: 255px;
    		    height: 28px;
    		    vertical-align: middle;
    		    -webkit-transition: border linear .2s,box-shadow linear .2s;
    		    -moz-transition: border linear .2s,box-shadow linear .2s;
    		    -ms-transition: border linear .2s,box-shadow linear .2s;
    		    -o-transition: border linear .2s,box-shadow linear .2s;
    		    transition: border linear .2s,box-shadow linear .2s;
    		}
    		.form-item .form-field .tips-error {
    		    width: 217px;
    		    padding-left: 3px;
    		    color: #E15738;
    		}
    		.form-item .form-field .form-tips {
    		    margin-left: 5px;
    		    font-size: 12px;
    		    line-height: 20px;
    		    display: inline-block;
    		    vertical-align: middle;
    		    text-align: justify;
    		    min-height: 20px;
    		    max-height: 40px;
    		    overflow: hidden;
    		}
    		.form-item .form-field .mobile-vcode-text .get-mobile-vcode {
    		    margin-left: -4px;
    		    text-decoration: none;
    		    display: inline-block;
    		    padding: 3px 26px;
    		    height: 30px;
    		    line-height: 30px;
    		    text-align: center;
    		    font-size: 14px;
    		    color: #fff;
    		    vertical-align: middle;
    		    border-top-right-radius: 5px;
    		    border-bottom-right-radius: 5px;
    		    background-color: #91C135;
    		}
    		.form-item .form-field .mobile-vcode-text {
    		    width: 277px;
    		    display: inline-block;
    		    vertical-align: middle;
    		}
    		.form-item .form-field .mobile-vcode-text .form-text {
    		    width: 105px;
    		    border-top-right-radius: 0;
    		    border-bottom-right-radius: 0;
    		}
    		.form-action .register-btn {
    		    width: 277px;
    		}
    		.btn-blue {
    		    background: #4ba0d7;
    		}
    		.form-action {
    		        margin-left: -40px;
    		    text-align: center;
    		}
    		.btn {
    		    border: 0 none;
    		    border-radius: 3px;
    		    color: #fff;
    		    cursor: pointer;
    		    display: inline-block;
    		    font-size: 18px;
    		    height: 40px;
    		    text-align: center;
    		    vertical-align: middle;
    		}
    		.content-login {
    		    text-align: center;
    		}
    		/*手机号*/
    		.form-item .form-field .mobile-text {
    		    position: relative;
    		    width: 277px;
    		    display: inline-block;
    		    vertical-align: middle;
    		}
    		#guize a {
    		    color: #2965b1;
    		    text-decoration: none;
    		}
/* 背景 */
#bg{
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: .4;
  display: none;
  background-color: black;

}
/* 未登录收藏 */
.collection{
    top: 30%;
    position: fixed;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
      z-index: 22;
      display: none;
}
.collection .tooltips {
    background-color: rgba(0,0,0,.6);
    border-radius: 3px;
    color: #fff;
    margin: auto;
    padding: 12px 30px;
    /* display: none; */
    font-size: 16px;

}
.collection  .tooltips a {
    color: #F8E71C;
}
/* 打赏 */
.reward-popups {
 position: fixed;
 z-index: 999;
 top: 50%;
 left: 50%;
 display: none;
 width: 800px;
 max-width: 800px;
 padding: 25px;
 -webkit-transform: translateX(-50%) translateY(-50%);
 transform: translateX(-50%) translateY(-50%);
 border-radius: 5px;
 background-color: #fafafa;
 -webkit-box-shadow: 0 0 24px 0 rgba(0,0,0,.11), 0 24px 24px 0 rgba(0,0,0,.15);
 box-shadow: 0 0 24px 0 rgba(0,0,0,.11), 0 24px 24px 0 rgba(0,0,0,.15);
}
.reward-popups  [data-popups-close] {
   font-family: sans-serif;
   font-size: 20px;
   font-weight: lighter;
   line-height: 20px;
   position: absolute;
   top: 8px;
   right: 8px;
   overflow: hidden;
   width: 20px;
   height: 20px;
   cursor: pointer;
   text-align: center;
   color: #ccc;
}
.reward-popups [data-popups=body] {
   margin: 5px 10px 5px 0;
}
.reward-popups  .form-wapper {
   color: #333;
   width: 800px;
   height: 535px;
   /* overflow: hidden; */
   box-sizing: border-box;
}
.reward-popups  .text-center {
   text-align: center;
}
.reward-popups .blogger-info .text {
   margin-top: 15px;
   margin-bottom: 40px;
}
.reward-popups  .form-wapper .form-item {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   min-height: 40px;
   margin-bottom: 10px;
}
.reward-popups .form-label {
   width: 260px;
}
.reward-popups  .form-wapper .form-label {
   line-height: 40px;
   padding-right: 20px;
   text-align: right;
}
.reward-popups  .font-red, .font-red a {
   color: red;
}
.reward-popups .reward-popups input[type=text], .reward-popups input[type=number], .reward-popups input[type=tel] {
   line-height: 40px;
   /*width: 100%;*/
   width: 450px;
   height: 35px;
   padding-top: 0;
   padding-bottom: 0;
}
.reward-popups, .reward-popups input, .reward-popups select, .reward-popups textarea {
   font-size: 16px;
}
.reward-popups .form-wapper {
   color: #333;
}
.reward-popups .reward-money-box .reward-money {
   line-height: 35px;
   display: inline-block;
   float: left;
   width: 80px;
   height: 34px;
   margin: 17px 6px 0 0;
   cursor: pointer;
   text-align: center;
   color: #fff;
   background: #d4d4d4;
}
.reward-popups .reward-money-box .reward-money.active {
   background: #626262;
}
.reward-popups .form-item:not(:last-of-type) {
   margin-bottom: 22px;
}
/* .reward-popups .form-label {
   width: 100px;
} */
.reward-popups .form-wapper .form-label {
   line-height: 40px;
   padding-right: 20px;
   text-align: right;
}
.reward-popups .font-red, .font-red a {
   color: red;
}
.reward-popups .reward-way {
   float: left;
   margin-right: 25px;
}
.reward-popups .form-radios input[type=radio]+label:before {
   position: absolute;
   top: 50%;
   left: 0;
   display: inline-block;
   width: 17px;
   height: 17px;
   content: '';
   -webkit-transform: translateY(-50%);
   transform: translateY(-50%);
   border-radius: 50%;
}
.reward-popups .reward-alipay label {
   background: url(../imgs/icons/alipay.png) 25px no-repeat;
   background-size: contain;
   width: 122px;
   height: 32px;
}
.reward-popups .btn-orange[class*=btn] {
   background-color: #f5a623;
}
.reward-popups .btn {
   width: 100px;
   height: 40px;
}
.reward-popups .btn {
   border-radius: 3px;
   padding: .4rem .8rem;
   outline: 0;
   border: 0;
   margin: 0;
   background-color: transparent;
   display: inline-block;
   cursor: pointer;
   float: right;
}
.reward-popups .btn, .btn a {
   color: #fff;
}
